*,
*::after,
*::before{
    box-sizing: border-box;
}


body{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    width: 1280px;
    margin: 0 auto;
}

.link{
   text-decoration: none;
}

/* Header */

.logo{
    font-size: 80px;
    line-height: 1.18;
    color: #000000;
}

.logo-part{
    color: #4BCAFF;
}

.header-nav{
    display: flex;
    justify-content:center;
    background-color: #35444F;
    height: 69px;
    align-items: center;
    border-color: #FFFFFF;
    margin-top: 40px;
    margin-bottom: 49px;
}

.header-nav .link{
    font-size: 24px;
    line-height: 1.17;
    color: #FFFFFF;
}

.header-nav li{
    padding-top: 24px;
    padding-bottom: 18px;
    border-left: 1px solid #FFFFFF;
}

.header-nav li:hover{
    background: #222F3A;
}

.item-first{
    padding-left: 32px;
    padding-right: 32px;
}

.item-second{
    padding-left: 38px;
    padding-right: 38px;
}

.item-third{
    padding-left: 40px;
    padding-right: 40px;
}

.item-fourth{
    padding-left: 40px;
    padding-right: 18px;
    border-right: 1px solid #FFFFFF;
}

/* main */

.main-container{
    display: flex;
    justify-content: space-between;
}

.aside-nav{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   width: 344px;
   height: 399px;
   border: 1px solid #000000;
   margin-right: 52px;
}

.aside-nav .link{
    font-size: 27px;
    line-height: 1;
    color: #495863;   
}

.aside-nav .link:hover{
    color: #000000;
}

.aside-nav li{
    padding: 26px 44px;
}

.aside-nav li:hover{
background-color: #DBDBDB;
text-align: center;
}

.hero{
    width: 885px;
    height: 529px;
    border: 1px solid #000000;
    margin-bottom: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image{
    transition: 1s;
}

.hero-image:hover{
    transform: scale(1.1);
}

.text{
    font-size: 18px;
    line-height: 1.33;
    color: #2C2C2C;
}

div .text:last-child{
    margin-top: 34px;
}

/* footer */

.footer-container{
    display: flex;
    justify-content: space-around;
    height: 69px;
    background-color: rgba(99, 105, 110, 0.48);
    align-items: center;
    margin-top: 54px;
}

.footer-nav{
    flex-basis: 875px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.footer-nav .link{
    font-size: 28px;
    line-height: 1;
    color: #0C1927;
}

.footer-nav .link:hover{
    color:#3181A6;
    text-decoration: underline;
}

.footer-text{
    font-size: 24px;
    line-height: 1;
    color: #010101;
}


